@font-face{
    font-family:dontkonwfont;
     src:url("https://vkceyugu.cdn.bspapp.com/VKCEYUGU-1620fc43-99fa-4412-bed5-1660717107a1/058f5cb9-bbff-4aa8-92e7-9a2a3b63f666.woff2");
}
#footer{
    background-color: rgba(42,100,246,0.2);
}